<h2><%= @list.name %></h2>

<% @list.bookmarks.each do |bookmark| %>
<li class="list-group-item">
      <%= bookmark.movie.title  %>
      <%= link_to "Remove",
                  bookmark_path(bookmark),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
<% end %>

<%= link_to 'Back', lists_path %> |
<%= link_to 'Add a new bookmark', new_list_bookmark_path(@list) %>
